ol {
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}
ol > li {
	position:relative; /* Create a positioning context */
	margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
	padding:4px 8px; /* Add some spacing around the content */
	list-style:none; /* Disable the normal item numbering */
	font-family:"Helvetica Neue", Arial, sans-serif;
	background:#FFAAAA;
    color: #550000;
    width: 300px;
    border-radius: 0 0 6px 0;
}
ol > li:before {
	content:counter(li); /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	/* Position and style the number */
	position:absolute;
	top: 0px;
	left:-2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:2em;
	/* Some space between the number and the content in browsers that support
	   generated content but not positioning it (Camino 2 is one example) */
	margin-right:8px;
	padding:4px;
	color:#FFAAAA;
	background:#550000;
	font-weight:bold;
	font-family:"Helvetica Neue", Arial, sans-serif;
	text-align:center;
    border-radius: 6px 0 0 0;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}
h3 {
    color: #550000;
	font-family:"Helvetica Neue", Arial, sans-serif;
}
ol > li:hover {
	background:#D46A6A;
    cursor: pointer; 
    cursor: hand;
}

.title {
    background-color: #550000;
    color: #FFAAAA;
    border: 1px solid #FFAAAA;
    border-right: 0;
}

.value {
    background-color: #FFAAAA;
    color: #550000;
    border: 1px solid #550000;
    border-left: 0;
}

table, tr, td {
	font-family:"Helvetica Neue", Arial, sans-serif;
    border: 0;
    border-spacing: 0;
    padding: 4px;
}

td {
    width: 140px !important;
}

table > caption {
	font-family:"Helvetica Neue", Arial, sans-serif;
    color: #550000;
}
